<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>老爸私房錢</title>

{{!-- favicon --}}
  <link rel="shortcut icon" href="/images/favicon-money-check.svg" type="image/x-icon">
  
{{!-- bootstrap with js & jQuery --}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{{!-- fontawesome (old version) --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">

{{!-- import font: Anonymous Pro --}}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>
  
  <nav class="navbar navbar-dark bg-dark fixed-top">
      <div class="container-sm navbar-expand-md  navbar-expand-sm row" id="navbarTogglerDemo01">

        <a class="navbar-brand" href="/">
        家庭記帳本
        </a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link active nav-link--add" href="/records/new">Add Record</a>
          </li>
        {{!-- authenfication buttons --}}
        {{#if isAuthenticated}}
          <li class="nav-item">
            <a class="nav-link active" href="/users/logout">log out</a>          
          </li>          
        {{else}}
          <li class="nav-item">
            <a class="nav-link active" href="/users/login">Log in<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/users/register">Register</a>
          </li>
        {{/if}}
        </ul>

      </div>
  </nav>

  <main class="bg text-center">
    <section class="centered">
      {{{ body }}}
    </section>
  </main>


{{!-- pick a day --}}
<script type="text/javascript" src="/javascripts/home.js"></script>
<script src="https://momentjs.com/downloads/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
<script>
    let picker = new Pikaday( 
    {
        field: document.getElementById('datepicker'),
        firstDay: 1,
        minDate: new Date(1970, 1, 1),
        maxDate: new Date(2040, 12, 31),
        yearRange: [1970,2040]
    });
</script>
</body>
</html>

