<div class="row an_bg-soft an_wrapper-user">
  <div class="col-md-6 m-auto">
    <div class="card card-body mb-4 an_bg-soft">
      <h1 class="text-center mt-3">Log In</h1>
      <form action="/users/login" method="POST" spellcheck="false">
      {{>message}}
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" 
                 id="email" 
                 name="email" 
                 class="form-control" 
                 placeholder="Enter Email"
                 required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" 
                 id="password" 
                 name="password" 
                 class="form-control" 
                 placeholder="Enter Password"
                 required>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
        <a href="/auth/facebook" class="btn btn-info btn-block">Use Facebook direct login</a>

      </form>
      <p class="lead mt-4">
        No Account? <a href="/users/register">Register</a>
      </p>
    </div>
  </div>
</div>